{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form class ="boxes" action= "/register" method = "post">
    <div class = "spacing">
        <input class= "name" name="username" type="text" autofocus autocomplete="off" placeholder="Username">
    </div>
    <div class = "spacing">
        <input class="password" name="password" type="password"  autocomplete="off" placeholder="Password">
    </div>
    <div class = "spacing">
        <input class ="password_d" name="confirmation" type="password"  autocomplete="off" placeholder="Confirm Password">
    </div>
    <button class ="button" type="submit"> Register </button>
</form>
{% endblock %}
